.Back-nav-button-con {
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
  justify-content: center;
}
.Back-nav-button-img {
  width: 15px;
  height: 25px;
}
.Back-nav-button-text {
  font-size: 25px;
  margin: 15px;
  margin-right: 0;
}
@media all and (max-width: 1200px) {
  .Back-nav-button-img {
    width: 10px;
    height: 20px;
  }
  .Back-nav-button-text {
    font-size: 18px;
    margin: 10px;
    margin-right: 0;
  }
}
@media all and (max-width: 900px) {
  .Back-nav-button-text {
    display: none;
  }
}
