.Contact-us {
  /* height: 100vh; */
  padding-top: 22vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1px;
  /* background-color: red; */
}
.Contact-us-icon {
  width: 40px;
  margin: 1px;
  /* opacity: 0.3; */
}
.Contact-us-icon:hover {
  opacity: 1;
  transition: opacity 0.5s linear;
}
.Contact-us-phone-con {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* opacity: 0.3; */
}
.Contact-us-phone {
  width: 40px;
  margin: 1px;
}
.Contact-us-phone-text {
  margin: 0;
  font-size: 25px;
  padding: 1.5px 6px;
  visibility: hidden;
  opacity: 0;
  color: #ffffff;
}

/* .Contact-us-phone-con:hover {
  opacity: 1;
  transition: opacity 0.5s linear;
} */
.Contact-us-phone:hover + .Contact-us-phone-text,
.Contact-us-phone-text:hover {
  background-color: #0097ed;
  display: block;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}
@media all and (max-width: 675px) {
  .Contact-us-icon,
  .Contact-us-phone {
    width: 30px;
    margin: 1px;
  }
  .Contact-us-phone-text {
    padding: 4.5px;
    font-size: 14px;
  }
}
@media all and (max-width: 400px) {
  .Contact-us-icon,
  .Contact-us-phone {
    width: 25px;
    margin: 1;
  }
  .Contact-us-phone-text {
    padding: 2px;
  }
}
