.Details-nav-button-con {
  width: 100%;
  max-width: 700px;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Details-nav-button-styling {
  max-width: 150px;
  width: 26vw;
  min-width: 60px;
  max-height: 60px;
  height: 5vw;
  min-height: 50px;
  background-color: #0070c0;
  border-radius: 10px;
  border-width: 0;
  color: #ffffff;
  font-size: 25px;
}
@media all and (max-width: 1200px) {
  .Details-nav-button-con {
    justify-content: space-between;
  }
  .Details-nav-button-styling {
    width: 23vw;
    min-width: 60px;
  }
}
@media all and (max-width: 930px) {
  .Details-nav-button-styling {
    max-width: 100px;
    font-size: 20px;
  }
}
@media all and (max-width: 675px) {
  .Details-nav-button-styling {
    max-width: 80px;
    max-height: 50px;
  }
  .Details-nav-button-styling {
    font-size: 16px;
  }
}
