.Follow-us {
  /* width: 100vw; */
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 70px;
  /* background-color: red; */
}
.Follow-us-text {
  margin: 0;
  text-align: center;
  padding: 10px;
  color: #4d5ebb;
  font-size: 21px;
}
.Follow-us-icon-con {
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.Follow-us-line {
  height: 45px;
  margin: 0 20px;
  border: 1px solid #4d5ebb;
}
.Follow-us-fb,
.Follow-us-tg {
  width: 40px;
}
@media all and (max-width: 676px) {
  .Follow-us {
    margin-bottom: 50px;
  }
  .Follow-us-text {
    font-size: 16px;
  }
  .Follow-us-fb,
  .Follow-us-tg {
    width: 30px;
  }
}
