.Public-user-home {
  /* height: 100vh; */
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}
.Public-user-head {
  display: flex;
  /* position: fixed; */
  background-color: #ffffff;
  flex-direction: column;
  justify-content: space-between;
  height: 270px;
  width: 80%;
}
.Public-user-body {
  height: 100%;
}

@media all and (max-width: 1200px) {
  .Public-user-head {
    height: 250px;
    width: 90%;
  }
}

@media all and (max-width: 800px) {
  .Public-user-head {
    height: 210px;
  }
}

@media all and (max-width: 650px) {
  .Public-user-head {
    height: 180px;
  }
}
