.Public-user-show-home-con {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.Public-user-show-back {
  margin-top: 40px;
  position: absolute;
  min-width: 300px;
  width: 90vw;
  display: flex;
  flex-direction: row;
  /* justify-content: start;
      align-items: center; */
}
