#backgroud_contactMail{
    height:auto;
    background-color: #333333;
    color:white;
    padding: 120px 40px 120px 40px;
}
.row_cotarol_form_input{
    padding:0;
    margin: 0;
}

.input_text_mail{
    width: 49%;
    height: 120px;
    padding: 0;
    margin: 2px;
    font-size: 16px;
}
.input_text_message{
    width: 98.5%;
    padding: 0;
    margin: 2px;
    height: 120px;
    font-size: 16px;
}

#btn_send_mail{
    margin: 15px 0 0 0;
    font-size:20px;
    background: rgba(40, 43, 43, 0.00);
    color: white;border: 0;
    padding: 0;
    border-bottom:2px solid white ;
    width: auto;
}

.row_group_address_in_contactus{
    margin:0;
    padding:0;
    padding-top: 1.2vh;
}

.lbl_title_of_data_contactMail{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0 0;
    color: white
}
.lbl_of_data_contactMail{
    font-size: 20px;
    color: white;
}

@media (max-width: 1199px) { 
    #backgroud_contactMail{
        height:auto;
        background-color: #333333;
        color:white;
        padding: 60px 60px 60px 60px;
    }
    .row_cotarol_form_input{
        padding:0;
        margin: 0;
    }
    
    .input_text_mail{
        width: 49%;
        height: 120px;
        padding: 0;
        margin: 2px;
        font-size: 16px;
    }
    .input_text_message{
        width: 98.5%;
        padding: 0;
        margin: 2px;
        height: 120px;
        font-size: 16px;
    }
    
    #btn_send_mail{
        margin: 15px 0 0 0;
        font-size:20px;
        background: rgba(40, 43, 43, 0.00);
        color: white;border: 0;
        padding: 0;
        border-bottom:2px solid white ;
        width: auto;
    }
    
    .row_group_address_in_contactus{
        margin:0;
        padding:0;
        padding-top: 1.2vh;
    }
    
    .lbl_title_of_data_contactMail{
        font-size: 20px;
        font-weight: bold;
        margin: 0 0 0 0;
        color: white
    }
    .lbl_of_data_contactMail{
        font-size: 20px;
        color: white;
    }
}

@media (max-width: 991px) { 
    #backgroud_contactMail{
        height:auto;
        background-color: #333333;
        color:white;
        padding: 60px 30px 60px 30px;
    }
    .row_cotarol_form_input{
        padding:0;
        margin: 0;
    }
    
    .input_text_mail{
        width: 49%;
        height: 120px;
        padding: 0;
        margin: 2px;
        font-size: 16px;
    }
    .input_text_message{
        width: 98.5%;
        padding: 0;
        margin: 2px;
        height: 120px;
        font-size: 16px;
    }
    
    #btn_send_mail{
        margin: 15px 0 0 0;
        font-size:20px;
        background: rgba(40, 43, 43, 0.00);
        color: white;border: 0;
        padding: 0;
        border-bottom:2px solid white ;
        width: auto;
    }
    
    .row_group_address_in_contactus{
        margin:0;
        padding:0;
        padding-top: 1.2vh;
    }
    
    .lbl_title_of_data_contactMail{
        font-size: 20px;
        font-weight: bold;
        margin: 0 0 0 0;
        color: white
    }
    .lbl_of_data_contactMail{
        font-size: 20px;
        color: white;
    }
}

@media (max-width: 767px) {
    #backgroud_contactMail{
        height:auto;
        background-color: #333333;
        color:white;
        padding: 20px 30px 20px 30px;
    }
    .row_cotarol_form_input{
        padding:0;
        margin: 0;
    }
    
    .input_text_mail{
        width: 49%;
        height: 100px;
        padding: 0;
        margin: 2px;
        font-size: 14px;
    }
    .input_text_message{
        width: 99%;
        padding: 0;
        margin: 2px;
        height: 120px;
        font-size: 14px;
    }
    
    #btn_send_mail{
        margin: 15px 0 0 0;
        font-size:18px;
        background: rgba(40, 43, 43, 0.00);
        color: white;border: 0;
        padding: 0;
        border-bottom:2px solid white ;
        width: auto;
    }
    
    .row_group_address_in_contactus{
        margin:0;
        padding:0;
        padding-top: 14px;
    }
    
    .lbl_title_of_data_contactMail{
        font-size: 14px;
        font-weight: bold;
        margin: 0 0 0 0;
        color: white
    }
    .lbl_of_data_contactMail{
        font-size: 14px;
        color: white;
    }
}

@media (max-width: 575px) { 
    #backgroud_contactMail{
        height:auto;
        background-color: #333333;
        color:white;
        padding: 20px 5px 20px 5px;
    }
    .row_cotarol_form_input{
        padding:0;
        margin: 0;
    }
    
    .input_text_mail{
        width: 98.5%;
        height: 80px;
        padding: 0;
        margin: 2px;
        font-size: 14px;
    }
    .input_text_message{
        width: 98.5%;
        padding: 0;
        margin: 2px;
        height: 120px;
        font-size: 14px;
    }
    
    #btn_send_mail{
        margin: 10px 0 0 0;
        font-size:18px;
        background: rgba(40, 43, 43, 0.00);
        color: white;border: 0;
        padding: 0;
        border-bottom:2px solid white ;
        width: auto;
    }
    
    .row_group_address_in_contactus{
        margin:0;
        padding:0;
        padding-top: 20px;
    }
    
    .lbl_title_of_data_contactMail{
        font-size: 14px;
        font-weight: bold;
        margin: 0 0 0 0;
        color: white
    }
    .lbl_of_data_contactMail{
        font-size: 14px;
        color: white;
    }
 }