#lbl_name_model_in_detail{
    font-size: 25px;
    padding: 40px 30px 40px 0;
} 

.lbl_data_get{
    font-size: 16px;
}
.lbl_defaul_detain_model{
    font-size: 16px;
}
.col_control_detail_model{
    background-color:#E3E3E3;
    text-align:left;
    border:1px solid gray;
    line-height:20px;
    font-size: 16px;
}

.lbl_name_in_btnBooking{
    color:rgb(238, 235, 235);
}
#btn_booking_now{
    margin: 15px 0 15px 0px;
    font-size: 25px;
    padding: 20px;
    border-radius: 50px 0px 0px 50px;
    background-color: #A8A8A8;
    box-shadow: 10px 3px 6px #00000033;
    border: 1px solid #888888;
}

@media (max-width: 1199px) { 
    #lbl_name_model_in_detail{
        font-size: 25px;
        padding: 30px 30px 60px 0;
    } 
    
    .lbl_data_get{
        font-size: 20px;
    }
    .lbl_defaul_detain_model{
        font-size: 20px;
    }
    .col_control_detail_model{
        background-color:#E3E3E3;
        text-align:left;
        border:1px solid gray;
        line-height:30px;
        font-size: 20px;
    }
    
    .lbl_name_in_btnBooking{
        color:rgb(238, 235, 235);
    }
    #btn_booking_now{
        margin: 70px 0 15px 0px;
        font-size: 20px;
        padding: 20px;
        border-radius: 50px 0px 0px 50px;
        background-color: #A8A8A8;
        box-shadow: 10px 3px 6px #00000033;
        border: 1px solid #888888;
    }
}

@media (max-width: 991px) { 
    #lbl_name_model_in_detail{
        font-size: 25px;
        padding: 20px 30px 10px 0;
    } 
    
    .lbl_data_get{
        font-size: 18px;
    }
    .lbl_defaul_detain_model{
        font-size: 18px;
    }
    .col_control_detail_model{
        background-color:#E3E3E3;
        text-align:left;
        border:1px solid gray;
        line-height:30px;
        font-size: 18px;
    }
    
    .lbl_name_in_btnBooking{
        color:rgb(238, 235, 235);
    }
    #btn_booking_now{
        margin: 10px 0 15px 0px;
        font-size: 25px;
        padding: 20px;
        border-radius: 50px 0px 0px 50px;
        background-color: #A8A8A8;
        box-shadow: 10px 3px 6px #00000033;
        border: 1px solid #888888;
    }
}

@media (max-width: 767px) {
    #lbl_name_model_in_detail{
        font-size: 25px;
        padding: 30px 30px 40px 0;
    } 
    
    .lbl_data_get{
        font-size: 16px;
    }
    .lbl_defaul_detain_model{
        font-size: 16px;
    }
    .col_control_detail_model{
        background-color:#E3E3E3;
        text-align:left;
        border:1px solid gray;
        line-height:20px;
        font-size: 16px;
    }
    
    .lbl_name_in_btnBooking{
        color:rgb(238, 235, 235);
    }
    #btn_booking_now{
        margin: 50px 0 15px 0px;
        font-size: 20px;
        padding: 20px;
        border-radius: 50px 0px 0px 50px;
        background-color: #A8A8A8;
        box-shadow: 10px 3px 6px #00000033;
        border: 1px solid #888888;
    }

}

@media (max-width: 575px) { 
    #lbl_name_model_in_detail{
        font-size: 25px;
        padding: 30px 30px 30px 0;
    } 
    
    .lbl_data_get{
        font-size: 16px;
    }
    .lbl_defaul_detain_model{
        font-size: 16px;
    }
    .col_control_detail_model{
        background-color:#E3E3E3;
        text-align:left;
        border:1px solid gray;
        line-height:20px;
        font-size: 16px;
    }
    
    .lbl_name_in_btnBooking{
        color:rgb(238, 235, 235);
    }
    #btn_booking_now{
        margin: 50px 0 15px 0px;
        font-size: 20px;
        padding: 20px;
        border-radius: 50px 0px 0px 50px;
        background-color: #A8A8A8;
        box-shadow: 10px 3px 6px #00000033;
        border: 1px solid #888888;
    }
 }
