/* #box_boder_main_background{text-align: center;width: 35vw;border: 2px solid black;padding: 0;height:10vh;padding: 0;margin: 0;} */
.space_small{width: 100%;height: 16px;}
.space_big{width:100%;height:63px}

#label_titel_got{
    position:relative; 
    font-size: 25px;
    color: gray;
    border: 4px solid gray;
    width:auto;
    height:auto;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 10px 50px 10px 50px;}
.box3{
    position:absolute;
    top: 0;
    right: -28px;
    border: 4px solid gray;
    height:48px;
    width: 46px;
    margin:5px 0 0 0;
    transform: rotate(44deg);
    border-right-color: white;
    background-color: white;
    border-top-color: white;
    }
.label_name_model{
    font-family: 'Aclonica', sans-serif;
    padding-left: 10.51px;}


@media (max-width: 1199px) { 
    #label_titel_got{
        position:relative; 
        font-size: 25px;
        color: gray;
        border: 4px solid gray;
        width:auto;
        height:auto;
        letter-spacing: 5px;
        text-transform: uppercase;
        padding: 10px 50px 10px 50px;}
    .box3{
        position:absolute;
        top: 0;
        right: -28px;
        border: 4px solid gray;
        height:48px;
        width: 46px;
        margin:5px 0 0 0;
        transform: rotate(44deg);
        border-right-color: white;
        background-color: white;
        border-top-color: white;
        }
    .label_name_model{
        font-family: 'Aclonica', sans-serif;
        padding-left: 10.51px;}
    
}

@media (max-width: 991px) { 
    #label_titel_got{
        position:relative; 
        font-size: 20px;
        color: gray;
        border: 3px solid gray;
        width:auto;
        height:auto;
        letter-spacing: 5px;
        text-transform: uppercase;
        padding: 10px 50px 10px 50px;}
    .box3{
        position:absolute;
        top: 0;
        right: -22px;
        border: 3px solid gray;
        height:41px;
        width: 38px;
        margin:4px 0 0 0;
        transform: rotate(43deg);
        border-right-color: white;
        background-color: white;
        border-top-color: white;
        }
    .label_name_model{
        font-family: 'Aclonica', sans-serif;
        padding-left: 10.51px;}
    
}

@media (max-width: 767px) {
    #label_titel_got{
        position:relative; 
        font-size: 20px;
        color: gray;
        border: 3px solid gray;
        width:auto;
        height:auto;
        letter-spacing: 5px;
        text-transform: uppercase;
        padding: 10px 50px 10px 50px;}
    .box3{
        position:absolute;
        top: 0;
        right: -22px;
        border: 3px solid gray;
        height:41px;
        width: 38px;
        margin:4px 0 0 0;
        transform: rotate(43deg);
        border-right-color: white;
        background-color: white;
        border-top-color: white;
        }
    .label_name_model{
        font-family: 'Aclonica', sans-serif;
        padding-left: 10.51px;} 
}

@media (max-width: 575px) { 
    #label_titel_got{
        position:relative; 
        font-size: 18px;
        color: gray;
        border: 3px solid gray;
        width:auto;
        height:auto;
        letter-spacing: 5px;
        text-transform: uppercase;
        padding: 10px 50px 10px 50px;}
    .box3{
        position:absolute;
        top: 0;
        right: -21px;
        border: 3px solid gray;
        height:39px;
        width: 36px;
        margin:4px 0 0 0;
        transform: rotate(43deg);
        border-right-color: white;
        background-color: white;
        border-top-color: white;
        }
    .label_name_model{
        font-family: 'Aclonica', sans-serif;
        padding-left: 10.51px;} 
    .space_small{width: 100%;height: 12px;}
    .space_big{width:100%;height:30px}
 }