
#img_logo_company{
  margin-top: 5px;
  margin-left: 8vw;
  margin-right: 8vw;
  width: 150px;
  height: auto;
  border-radius: 50%;}
.control_menus{margin: -120px 0 0 0;}
#background_item_navbar{
  width: auto;
  height: 100px;
  background: rgba(40, 43, 43, 0.5);
  padding: 0 30px 0 0px;
  border-bottom: 6px solid #2c2c2c;}
.item_navs{
  font-size:25px;
  margin: 40px 30px auto 30px;
  color: #1b1b1b;
}
.item_navs:hover{
  text-decoration: none;
  color: white;
}
#icon_loing_in_nav{
  width: 50px;
  height: auto;}
#btn_login_user{
  font-size: 20px;
  border: 0;
  margin: 50px 0 0 0;
  background: rgba(96, 100, 100, 0.001);
  color: black;
  cursor: pointer;}

.control_3_items{
  margin: 41.6vh 0px 0 auto;
  padding: 0;
  width:60px;
  display: flex;
  justify-content:flex-end;}
#main_control_background_navbar_right_three_items{
  margin: 16.15vh 0 0 0vw;
  width:100%;
  height: auto;
  right: 100%;
  overflow: hidden;}
.btn_item_menu_right{
  background-color: #a5a5a5;
  border: 1px solid black;
  margin: 0 0 2px 0;
  width: auto;
  min-height: 5.57vh;}
#icon_in_item_menu_right{
  font-size: 40px;
  margin-bottom: 5px;} 
.MuiAppBar-colorPrimary{
  background-color: #a5a5a5 !important;
} 
#button_login_for_md_screen{visibility:collapse;}

@media (max-width: 1199px) { 
  #img_logo_company{
    margin-top: 5px;
    margin-left: 3vw;
    margin-right: 3vw;
    width: 140px;
    height: auto;
    border-radius: 50%;}
  .control_menus{margin: -120px 0 0 0;}
  #background_item_navbar{
    width: auto;
    height: 100px;
    /* background: rgba(40, 43, 43, 0.5); */
    padding: 0 30px 0 0px;
    border-bottom: 6px solid #2c2c2c;}
  .item_navs{
    font-size:25px;
    margin: 40px 20px auto 20px;
    color: #1b1b1b;
  }
  .item_navs:hover{
    text-decoration: none;
    color: white;
  }
  #icon_loing_in_nav{
    width: 40px;
    height: auto;}
  #btn_login_user{
    font-size: 18px;
    border: 0;
    margin: 50px 0 0 0;
    background: rgba(96, 100, 100, 0.001);
    color: black;
    cursor: pointer;}
  
  .control_3_items{
    margin: 41.6vh 0px 0 auto;
    padding: 0;
    width:60px;
    display: flex;
    justify-content:flex-end;}
  #main_control_background_navbar_right_three_items{
    margin: 16.15vh 0 0 0vw;
    width:100%;
    height: auto;
    right: 100%;
    overflow: hidden;}
  .btn_item_menu_right{
    background-color: #a5a5a5;
    border: 1px solid black;
    margin: 0 0 2px 0;
    width: auto;
    min-height: 5.57vh;}
  #icon_in_item_menu_right{
    font-size: 40px;
    margin-bottom: 5px;} 
  .MuiAppBar-colorPrimary{
    background-color: #a5a5a5 !important;
  } 
  
}

@media (max-width: 991px) { 
  #img_logo_company{
    margin-top: 5px;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 120px;
    height: auto;
    border-radius: 50%;}
  .control_menus{margin: -120px 0 0 0;}
  #background_item_navbar{
    width: auto;
    height: 100px;
    background: rgba(40, 43, 43, 0.5); 
    padding: 0 10px 0 0px;
    border-bottom: 6px solid #2c2c2c;}
  .item_navs{
    font-size:20px;
    margin: 50px 10px auto 10px;
    color: #1b1b1b;
  }
  .item_navs:hover{
    text-decoration: none;
    color: white;
  }
  #icon_loing_in_nav{
    width: 40px;
    height: auto;}
  #btn_login_user{
    font-size: 15px;
    border: 0;
    margin: 60px 0 0 0;
    background: rgba(96, 100, 100, 0.001);
    color: black;
    cursor: pointer;}
   
  
  .control_3_items{
    margin: 41.6vh 0px 0 auto;
    padding: 0;
    display: flex;
    justify-content:flex-end;}
  #main_control_background_navbar_right_three_items{
    margin: 16.15vh 0 0 0vw;
    height: auto;
    overflow: hidden;}
  .btn_item_menu_right{
    background-color: #a5a5a5;
    border: 1px solid black;
    margin: 0 0 2px 0;
    }
  #icon_in_item_menu_right{
    font-size: 30px;
    padding: 50;
  } 
  .MuiAppBar-colorPrimary{
    background-color: #a5a5a5 !important;
  } 
  
}

@media (max-width: 767px) {
  #img_logo_company{
    margin-top: 5px;
    margin-left: 0vw;
    margin-right: 3vw;
    width: 100px;
    height: auto;
    border-radius: 50%;}
  .control_menus{
    margin: 0px 0 132px 0; 
    /* background: rgba(40, 43, 43, 0.5);  */
    height: auto;width: 100%;
  }
  #background_item_navbar{
    text-align: center;
    border-bottom: 0px solid #2c2c2c;
    background: rgba(40, 43, 43, 0.000); 
    width: auto;
    margin-top: 0%;
    height: auto;
    padding: 0px;
    padding-top:0px ;
    height: auto;
    }
  .item_navs{
    border-bottom: 0.5px solid #646464;
    font-size:20px;
    margin: 5px;
    color: #1b1b1b;
  }
  .item_navs:hover{
    text-decoration: none;
    color: white;
  }
  #icon_loing_in_nav{
    /* width: 30px; */
    height: auto;}
  #btn_login_user{
    font-size: 14px;
    border: 0;
    margin: 0 ;
    background: rgba(96, 100, 100, 0.001);
    color: black;
    cursor: pointer;}
    
  
  .control_3_items{
    margin: 41.6vh 0px 0 auto;
    padding: 0;
    width:10px;
    display: flex;
    justify-content:flex-end;}
  #main_control_background_navbar_right_three_items{
    margin: 16.15vh 0 0 0vw;
    width:100%;
    height: auto;
    right: 100%;
    overflow: hidden;}
  .btn_item_menu_right{
    background-color: #a5a5a5;
    border: 1px solid black;
    margin: 0 0 2px 0;
    width: auto;
    min-height: 5.57vh;}
  #icon_in_item_menu_right{
    font-size: 28px;
    margin-bottom: 5px;} 
  .MuiAppBar-colorPrimary{
    background-color: #a5a5a5 !important;
  } 
}

@media (max-width: 575px) { 
  #img_logo_company{
    margin-top: -5px;
    margin-left: -5px;
    margin-right: 0vw;
    width: 60px;
    height: auto;
    border-radius: 50%;}
  .control_menus{
    margin: 0px 0 72px 0; 
    /* background: rgba(40, 43, 43, 0.5);  */
    height: auto;
    width: 100%;
  }
  #background_item_navbar{
    width: 100%;
    text-align: center;
    border-bottom: 0px solid #2c2c2c;
    background: rgba(40, 43, 43, 0.000); 
    width: auto;
    margin-top: 0%;
    height: auto;
    padding: 0px;
    padding-top:0px ;
    height: auto;
    }
  .item_navs{
    border-bottom: 0.5px solid #646464;
    font-size:20px;
    margin: 5px;
    color: #1b1b1b;
  }
  .item_navs:hover{
    text-decoration: none;
    color: white;
  }
  #icon_loing_in_nav{
    width: 30px;
    height: auto;}
  #btn_login_user{
    font-size: 14px;
    border: 0;
    margin: 0 0 0 0;
    background: rgba(96, 100, 100, 0.001);
    color: black;
    cursor: pointer;}
    
  
  .control_3_items{
    margin: 41.6vh 0px 0 auto;
    padding: 0;
    width:10px;
    display: flex;
    justify-content:flex-end;}
  #main_control_background_navbar_right_three_items{
    margin: 16.15vh 0 0 0vw;
    width:100%;
    height: auto;
    right: 100%;
    overflow: hidden;}
  .btn_item_menu_right{
    background-color: #a5a5a5;
    border: 1px solid black;
    margin: 0 0 2px 0;
    width: auto;
    min-height: 5.57vh;}
  #icon_in_item_menu_right{
    font-size: 20px;
    margin: 0px 6px 0px 10px;
  }
  .MuiAppBar-colorPrimary{
    background-color: #a5a5a5 !important;
  } 
 }