.image_slider{width: 100%;height: auto;}
#main_slider{margin-top: -187px;}

@media (max-width: 1199px) { 
    .image_slider{width: 100%;height: auto;}
#main_slider{margin-top: -170px;}
}

@media (max-width: 991px) { 
    .image_slider{width: 100%;height: auto;}
    #main_slider{margin-top: -150px;}
}

@media (max-width: 767px) {
    .image_slider{width: 100%;height: auto;}
    #main_slider{margin-top: -140px;}
}

@media (max-width: 575px) { 
    .image_slider{width: 100%;height: auto;}
    #main_slider{margin-top:-80px;}
 }
